<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <Name>OEH Layers</Name>
    <AddInID>{f8344f45-7b17-4466-a824-2fe0c7ece490}</AddInID>
    <Description>OEH Addin</Description>
    <Version>0.1</Version>
    <Image />
    <Author>Dave Bye</Author>
    <Company>OEH</Company>
    <Date>05/09/2017</Date>
    <Targets>
        <Target name="Desktop" version="10.4" />
    </Targets>
    <AddIn language="PYTHON" library="oeh_addin.py" namespace="oeh_addin">
        <ArcMap>
            <Commands>
                <Button caption="Add Layer" category="OEH" class="AddLayerButton" id="oeh_addin.AddLayer" image="Images\smiley16.png" message="" tip="Add OEH corporate layers to the map"><Help heading="" />
                </Button>
            </Commands>
            <Extensions>
            </Extensions>
            <Toolbars>
                <Toolbar caption="OEH" category="OEH" id="OEH_addin.toolbar" showInitially="true">
                    <Items>
                        <Button refID="oeh_addin.AddLayer" />
                    </Items>
                </Toolbar>
            </Toolbars>
            <Menus>
            </Menus>
        </ArcMap>
    </AddIn>
</ESRI.Configuration>